/* .imgsize {
	width: 70%;
} */

.img1 {
	/* filter: url(filters.svg#grayscale); Firefox 3.5+ */
	filter: gray; /* IE5+ */
	-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
	-webkit-transition: all 0.8s ease-in-out;
	width: 60%;
	height: 70%;
}
.img1:hover {
	filter: none;
	-webkit-filter: grayscale(0);
	-webkit-transform: scale(1.01);
}
